* {
    font-family: 'Noto Serif TC', serif;
}

/* Navbar */
.navbar-brand {
    font-size: 40px;
}

.nav-item {
    text-align: center;
    font-size: 28px;
}

/* Jumbotron */
.jumbotron {
    background-image: url(images/hero.jpg);
    background-size: cover;
    animation: fadeIn 2s;
    height: 700px;
    background-repeat: no-repeat;
    position: relative;
}

.jumbotron::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    position:absolute;
    bottom: 0; /* supaya tertutup semua jimbotronnya */
}

.jumbotron .display-4 {
    color: white;
    text-align: center;
    margin-top: 150px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0);
    font-size: 62px;
}

/* Story */
.story {
    margin-top: 120px;
}

.story p {
    font-size: 18px;
    color: #acacac;
    text-align: center;
}

/* About */

.about {
    animation: fadeIn 2s;
}

.about h1 {
    font-weight: bold;
}

.about .col {
    /* border:1px solid red; */
    text-align: center;
    padding: 50px 0;
}

.about .col-6{
    /* border:1px solid green; */
    padding: 60px 0;
    margin-right: 17px;
}

.wavey-infinite {
    animation: wavey 3s infinite;
}

.wavey {
    animation: wavey 3s;
}

#member {
    font-size: 10px;
}


@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes wavey {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
}

/* Desktop Version */
@media (min-width: 992px) {

    .nav-link {
        margin-right: 35px;
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid burlywood;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

    /* Jumbotron */
    .jumbotron {
        background-position: 0 -400px;
        /* margin-top: -75px; */
    }
}