@import url(animation.css);
/* About */

.about {
    animation: fadeIn 2s;
}

.about h1 {
    font-weight: bold;
}

.about .col {
    /* border:1px solid red; */
    text-align: center;
    padding: 60px 0;
}

.about .col-6{
    /* border:1px solid green; */
    padding: 70px 0;
    margin-right: 17px;
}

#member {
    font-size: 10px;
}


/* Desktop Version */
@media (min-width: 992px) {

    /* About */
    .about h1 {
        font-size: 85px;
    }

    .about .col-6 {
        padding: 300px 0;
    }
}