@import url(animation.css);

/* Color Palette https://www.color-hex.com/color-palette/4906 */

* {
    font-family: 'Noto Serif TC', serif;
}

/* Navbar */

.navbar {
    background-image: linear-gradient(to bottom, #0f1c14, black);
    animation: fadeIn 2s;
}

.navbar-brand {
    font-size: 75px;
}

.nav-item {
    text-align: center;
    font-size: 28px;
}


/* Desktop Version */
@media (min-width: 992px) {

    .nav-link {
        margin-right: 35px;
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid burlywood;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }
}